<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CountryCode</key>
	<array>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>America</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+92</string>
			<key>Flag</key>
			<string>Pak</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>+91</string>
			<key>Flag</key>
			<string>  india</string>
		</dict>
	</array>
</dict>
</plist>
